$body-bg: #212121;
//$body-color: #ffffff;

$primary: #243b53;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.chatbud-font {
    font-family: "Megrim", cursive;
}

#content {
    flex: 1;
    overflow: auto;
    padding: 10px;
}

input {
    color: #212121;
}
