$body-bg: #212121;
//$body-color: #ffffff;

$primary: #243b53;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

body {
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.chatbud-font {
    font-family: "Megrim", cursive;
}

#content {
    flex: 1;
    overflow: auto;
    padding: 10px;
}

#version {
    line-height: 38px;
    margin-left: 10px;
}

#footer {
    //margin-bottom: 12px;
}

input {
    color: #212121;
}

.form-check-input:checked {
    border-color: gray;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='gray'/%3e%3c/svg%3e");
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
    display: none; 
}
